html, body {
  width: 375px !important;
  height: 600px !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#plasmo-shadow-container {
  width: 375px !important;
  height: 600px !important;
}

#__plasmo {
  width: 375px !important;
  height: 600px !important;
}

