@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 320px !important;
  height: 480px !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#plasmo-shadow-container {
  width: 320px !important;
  height: 480px !important;
}

#__plasmo {
  width: 320px !important;
  height: 480px !important;
}
